
.App {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error {
    border: red 1px solid;
}

.error-message {
    outline: none;
    color: red;
}

.active-filtr {
    background-color: aquamarine;
}

span {
    padding: 10px;

}

.is-done {
    opacity: 0.5;
}
